/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
   transition: 750ms linear;

 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
@keyframes animation_agitado{
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@keyframes animation_alimentado{
  to{
    transform: rotate(360deg);
  }
}

@keyframes animation_perturbado{
  from { height: 275px; width: 275px; ; border-radius: 135px }
  to { height: 175px; width: 175px; border-radius: 85px  }
}

@keyframes animation_instinto-selvagem{
  /*from { height: 224px; width: 224px; }*/
  to { height: 500px; width: 500px; border-radius: 250px }
}

.agitado { animation: animation_agitado 1s 0s infinite }
.agitado img {}

.alimentado {
  animation: .25s animation_alimentado infinite;
 }

.alimentado img {
  border-color: green;
  border-width: thick;
}

.perturbado { }
.perturbado img { animation: animation_perturbado 3s 0s infinite }

.instinto-selvagem {
}
.instinto-selvagem img {
  animation: animation_instinto-selvagem 1s 0s infinite;
  border-color: red;
  border-width: thick;
}

/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

 .comecar {
   background-image: url(imgs/sprites-icones.png);
   background-position: 0px 0px;
 }

 .parar {
   background-image: url(imgs/sprites-icones.png);
   background-position: 24px 0px;
 }
